<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/dist/vue.js"></script>
</head>
<body>

	<div id="app">
		<ul>
			<li v-for="user in users">
				{{user.name}} : {{user.gender}} : {{user.age}}
			</li>
		</ul>
		
		<ul>
			<li v-for="(value,key) in emp">
				{{key}}:{{value}}
			</li>
		</ul>
		
		<ul>
			<li v-for="ｉ in 5">
				{{ｉ}}
			</li>
		</ul>
	</div>
	
	<script type="text/javascript">
		var app = new Vue({
			el:"#app",
			data:{
				users:[
					{name:'柳岩',gender:'女',age:21},
					{name:'胡歌',gender:'男',age:30},
					{name:'范冰冰',gender:'女',age:24},
					{name:'刘亦菲',gender:'女',age:18},
					{name:'迪丽热巴',gender:'女',age:25}
				],
				emp:{name:'柳岩',gender:'女',age:21}
			}
			
		});
	</script>
</body>
</html>